{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}

<link rel="stylesheet" href="/css/style.css"/>
<div class="posts article">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 panel panel-default">
                <header class="header">
                    <div class="meta">
                <span class="date">
                    <span class="month">2019 /</span>
                    <span class="day">01</span>
                </span>
                    </div>
                    <h3 class="title">
                        <a href="/aboutme">Page link</a>
                    </h3>
                </header>
                <section class="brief"><p><img src="/media/article_images/2019/07/10/dockergo.png" height=350 alt="blog"></p>

<p>我是谁: I am Nobody. 毕竟这是一个哲学问题，所以不能简单回答你。但你可以记住🆔 Hoyho 以及本博客here2say.com</p>

<p>主要关注容器生态🐳，Kubernetes以及Kubernetes-csi组成员，多为容器存储方向贡献</p>

<p>当前供职与国内某分布式存储公司，吃饭的语言主要Go，C#，Python</p>

<p>其他技能：主要围绕Kubernetes存储生态，之前也接触CI/CD，玩过Docker Compose和Docker Swarm。再之前是写微服务的。再再之前甚至还写过Web应用（对，就是单体应用十分庞大那种）</p>

<p>大学期间误入Linux迷途不知返，略喜欢折腾，Debian forever !!! 偶尔也折腾下路由器，树莓派甚至Arduino之类的硬件 </p>

<p>文章使用大多markdown格式书写，如无特殊声明，文章可以进行转发（CSDN除外!!!），但请保留来源链接和署名。</p>

<p>博客支持github账号留言，欢迎指点，也欢迎邮件，看到会回复。</p>

<h3 id="联系我">联系我</h3>

<ul>
<li><a href="mailto:luohaihao@gmail.com" title="📧Email:luohaihao@gmail.com" class="mail">
    📧: luohaihao☞gmail.com
</a></li>
<li><a href="https://github.com/hoyho">🐼GitHub: https://github.com/hoyho </a></li>
</ul>
</section>
            </div>
        </div>
    </article><!-- /.blog-post -->
{% endblock %}
