<!--base.html-->
<!doctype html>
<html lang="en">
<script>s
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?89e922b51d7c20663a78f0b5ab83d1be";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script>
        function GoToTop(){
             $("html,body").animate({scrollTop:"0px"},1000);
            return true;
        }
</script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hoyho's Blog,to record my coding life;D day">
    <title>D-Day</title>
    <link rel="stylesheet" href="/static/monokai.css">
    <link rel="stylesheet" href="/static/pure-min.css" >
    <link rel="stylesheet" href="/static/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/blog.css">
    <!--link rel="stylesheet" href="http://picturebag.qiniudn.com/monokai.css"-->
    <link rel="stylesheet" href="/static/foundation.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pygments-css/native.css">

    <!--以下三句实现高亮显示-->
    <link rel="stylesheet" href="{{BASE_DIR}}/static/foundation.css">
    <script src="{{BASE_DIR}}/static/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
 
</head>


<body>
    <div id="layout" class="pure-g">

        <!--new sidebar begin-->
  
            <div class="sidebar pure-u-1 pure-u-md-1-6 show" id= "menu">
                <div class="inner flex-row-vertical">
                    <a href="javascript:;" style="display:none" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
                        <i class="icon icon-lg icon-close">
                        </i>
                    </a>
                    <div class="brand-wrap" style="background-image:url(/img/brand.jpg)">
                        <div class="brand">
                            <a href="/" class="avatar waves-effect waves-circle waves-light">
                                <img src="/static/profile.jpg">
                            </a>
                            <hgroup class="introduce">
                                <h5 class="nickname">
                                    Hoyho
                                </h5>
                                <a href="mailto:luohaihao@gmail.com" title="luohaihao@gmail.com" class="mail">
                                    luohaihao@gmail.com
                                </a>
                            </hgroup>
                        </div>
                    </div>
                    <div class="scroll-wrap flex-col">
                        <ul class="nav">
                            <li class="waves-block waves-effect {{active_flag_home}}">
                                <a href="/">
                                    <i class="icon icon-lg icon-home">
                                    </i>
                                    Home
                                </a>
                            </li>
                            <li class="waves-block waves-effect {{active_flag_archive}}">
                                <a href="/archives">
                                    <i class="icon icon-lg icon-archives ">
                                    </i>
                                    Archives
                                </a>
                            </li>
                            <li class="waves-block waves-effect {{active_flag_tag}}">
                                <a href="/tag/todo/">
                                    <i class="icon icon-lg icon-tags">
                                    </i>
                                    Tags
                                </a>
                            </li>
                            <li class="waves-block waves-effect">
                                <a href="https://github.com/hoyho" target="_blank">
                                    <i class="icon icon-lg icon-github">
                                    </i>
                                    Github
                                </a>
                            </li>
                            <li class="waves-block waves-effect">
                                <a href="/feed" target="_blank">
                                    <i class="icon icon-lg icon-feed">
                                    </i>
                                    RSS
                                </a>
                            </li>
                            <li class="waves-block waves-effect {{active_flag_aboutme}}">
                                <a href="/aboutme">
                                    <i class="icon icon-lg icon-user">
                                    </i>
                                    About Me
                                </a>
                            </li>
                            <li>
                                <form class="pure-form" action="/search/" method="get">
                                    <input class="pure-input-3-3" type="text" name="s" placeholder="search">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <!--new sidebar end-->


        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                {% block content %} 
                {% endblock %}
                 


                 {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
                 <nav>
                 <ul class="pagination" role="navigation">
                 {% if post_list.has_previous %}
                 <a class="newer-posts" href="?page={{ post_list.previous_page_number }}">
                     <i class="icon-left"></i>
                     Prev Page  
                </a>
                 {% endif %}
                 <!-- span class="page-number">第 {{ post_list.current_page_number }} 页 / 共 7 页</span -->
                 {% if post_list.has_next %}
                 <a class="older-posts" href="?page={{ post_list.next_page_number }}">
                     Next Page <i class="icon-right"></i></a>
                 {% endif %}
                 </ul>
                 </nav>
               {% endif %}
                


    <!--                
                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal pure-menu-open">
                        <ul>
                            <span>
                                <a href="https://github.com/hoyho">About Me</a>
                            </span>
                              |  
                            <span>
                                <a href="https://www.facebook.com/profile.php?id=100004783232594&ref=br_rs">Facebook</a>
                            </span>
                             |  
                            <span>
                                <a href="http://github.com/yahoo/pure/">GitHub</a>
                            </span>
                        </ul>
                    </div>
                </div>
 -->
  
   </div>

        </div>
    </div>
    <a href="JavaScript:GoToTop();" id="gotop" class="waves-effect waves-circle waves-light in">
        <span class="icon icon-lg icon-chevron-up"></span></a>

</body>

</html>
