<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hoyho的简历</title>
    <meta name="description" content="我是一个充满活力、由衷热爱coding、善于发现问题的.NET工程师。我目前正在寻找C#开发工程师岗位，希望借此机会为贵司献上我的一点绵薄之力，快招我到碗里来吧！">
    <meta name="keywords" content="Hoyho,C#后端,工作,简历">
    <link rel="stylesheet" href="/static/style.min.css">
    <link rel="stylesheet" href="/static/fontello.min.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="title">
                <img src="static/resume-head.png" height="85">
                <h1>Hoyho的简历</h1>
            </div>
            <ul class="side-info">
                <li class="someRight">
                    <dt>
                        <i class="icon-bookmark"></i>Contact. 联系方式</dt>
                    <dd>
                        <i class="icon-phone-1"></i>Tel: 13580421531（广州号）</dd>
                    <dd>
                        <i class="icon-mail-alt"></i>Email:
                        <a href="mailto:luohaihao@gmail.com" target="_blank">luohaihao@gmail.com</a>
                    </dd>
                    <dd>
                        <i class="icon-wechat"></i>Wechat: Mr_Ro_h2</dd>
                    <dd>
                        <i class="icon-qq"></i>QQ:
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=512894453&site=qq&menu=yes" target="_blank">512894453</a>
                    </dd>
                </li>
                <li class="someRight">
                    <dt>
                        <i class="icon-bookmark"></i>Application. 应聘岗位</dt>
                    <dd>Engineer</dd>
                </li>
                <li class="someRight">
                    <dt>
                        <i class="icon-bookmark"></i>外语水平</dt>
                    <dd>英语CET-6</dd>
                    <dd></dd>
                </li>
                <li class="someRight">
                    <dt>
                        <i class="icon-bookmark"></i>专业技能</dt>
                    <dd>熟悉：C#,VB.NET，Linux </dd>
                    <dd>中等：Python,HTML/CSS, JavaScript/jQuery</dd>
                    <dd>了解：Java/PHP,SHELL</dd>
                    <dd></dd>
                    <br>
                    <dd>数据库:</dd>
                    <dd>MSSQL,MySQL,Redis</dd>
                    <br>
                    <dd>使用过的开发框架及技术：</dd>
                    <dd>gRPC,Docker,MVC,RESTAPI，Web Service，EF/Dapper,Windows service,Django等</dd>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="main-info">
                <table class="table">
                    <tr>
                        <td class="basic-info">
                            <dt>
                                <i class="icon-bookmark"></i>Basic info. 基本信息</dt>
                            <dd>
                                <strong>个人信息:</strong>
                                <span>罗海豪 / 男</span>
                            </dd>
                            <dd>
                                <strong>毕业院校:</strong>
                                <span>广州大学</span>
                            </dd>
                            <dd>
                                <strong>工作经验:</strong>
                                <span>2.5年</span>
                            </dd>
                        </td>
                        <td class="basic-info">
                            <dt>
                                <i class="icon-bookmark"></i>
                            </dt>
                            <dd>
                                <strong>常用ID:</strong>
                                <span>Hoyho</span>
                            </dd>
                            <dd>
                                <strong>个人博客:</strong>
                                <a href="https://here2say.me" target="_blank">https://here2say.me</a>
                            </dd>
                            <dd>
                                <strong>GitHub:</strong>
                                <a href="https://www.github.com/hoyho" target="_blank">www.github.com/hoyho</a>
                            </dd>
                        </td>
                    </tr>
                </table>
                <table class="exp-info">
                    <tr>
                        <td>
                            <dt>
                                <i class="icon-bookmark"></i>Experience. 项目与工作经验</dt>
                            <h3>
                                <span>万汇互联（深圳）科技有限公司（2017.11 - 至今）</span>
                            </h3>
                            <ul class="exp">
                                <h4>Followme容器服务中心</h4>
                                <li>基础容器的维护，服务组件开发</li>
                                <li>基于portainer的docker管理器，针对Consul集群服务的维护</li>
                                <li>结合Jenkins实现开发、测试、生产环境的自动部署，提供整体可视化的主机、容器、网络及存储管理</li>
                            </ul>
                            <ul class="exp">
                                <h4>外汇跟单核心交易服务 </h4>
                                <li>Followme外汇跟单平台是由Golang，C#和Nodejs多语言的微服务架构交易系统</li>
                                <li>主要负责C#版的交易员交易RPC服务开发和维护</li>
                                <li>采用了gRPC框架+Consul服务注册和集群管理+Docker部署</li>
                                <li>使用Redis缓存,RabbitMQ消息通信，MSSQL主从架构，Jenkins作CI/CD持续交付集成</li>
                                <li>从原始的.NET MVC架构到服务拆分并完成使用dotnet core技术重构,以应对目前每日10w+访问</li>
                            </ul>
                            <ul class="exp">
                                <div class="circle"></div>
                                <h4>外汇社区微博项目-数据服务</h4>
                                <li>Followme汇友圈是采用dotnet core开发的高可用微博，类似新浪微博的架构</li>
                                <li>使用Redis全缓冲层架构，RabbitMQ和SignalR推送，ElatiscSearch搜索引擎</li>
                                <li>数据服务主要负责消息总线中微博相关数据的处理包括MySQL和Redis存储</li>
                                <li>使用Jenkins和Gitlab作持续集成和持续部署，Docker部署，并通过Portainer进行容器管理</li>
                            </ul>

                            <br>

                            <h3>
                                <span>深圳思齐软件有限公司（2016.2 - 2017.09）</span>
                            </h3>
                            <ul class="exp">
                                <h4>Spread邮件营销平台开发 </h4>
                                <li>Spread平台是一个大型邮件营销系统，公司核心产品。每日邮件发送量可达千万</li>
                                <li>主要使用 传统ASP.NET WebForm + ADO.NET + Windows Service + Web Services等技术以及jQuery,bootstrap ，adminLTE等</li>
                                <li>负责SMS模块的开发，包括前端编辑，分发处理service，网关报告追踪获取等，使用了队列，锁以及缓存等技术确保邮件正确且有效地处理</li>
                                <li>负责阅读报告收集，弹回，webhook等</li>
                                <li>重构了上传联系人逻辑，兼容TXT,CSV,XSLX等格式文档</li>
                            </ul>
                            <ul class="exp">
                                <div class="circle"></div>
                                <h4>Spread Web Service</h4>
                                <li>负责公司核心产品的Web Service项目接口开发，基于SOAP协议的API，面向MTR,天猫，Ebay，每日调用次数数十万</li>
                                <li>独立对接香港地铁MTR定制化服务包含常用即时和异步推送等发送以及其他高级功能</li>
                                <li>开发基于XMPP的服务推送阅读报告到公司其他产品（移动端app）</li>
                                <li>负责客户系统对接工作，编辑和维护Java/PHP/Python的对外DEMO范例以及官方文档网站
                                    <a href="http://developer.rspread.com/SpreadWS/SpreadWS.aspx" target="_blank">Spread API文档</a>
                                </li>
                            </ul>
                            <ul class="exp">
                                <div class="circle"></div>
                                <h4>Smart Email智能邮件</h4>
                                <li>使用Windows service开发的服务，数据库MSSQL配合Entity Framework已前段部分
                                    <a href="http://smart.rspread.com" target="_blank">智能化邮件</a>
                                </li>
                                <li>后台常驻服务多线程抓取天猫/淘宝/ebay/Facebook上指定产品</li>
                                <li>数据清洗过滤归类</li>
                                <li>开发可视化XPath配置器，兼容独立站点或者包含RSS的自由定制抓取方案</li>
                                <li>自动化模板引擎处理渲动态染生成精美的营销邮件</li>
                            </ul>
                            <br>



                            <h3>个人项目</h3>
                            <ul class="exp">
                                <div class="circle"></div>
                                <h4>余弦代理
                                    <a href="http://cos9.cn" target="_blank">
                                        <i class="icon-link"></i>弦角代理</a>
                                </h4>
                                <li>目前部署在AWS上的一套IP供应平台，全个人开发部署和维护，包括认证，订单，支付，个人管理，提取，API等模块。</li>
                                <li>系统采用MVC架构，jQuery + 原生JavaScript</li>
                                <li>数据库部分MySQL，ORM：Entity framework</li>
                                <li>对接第四方支付接口，目前已经正常运行</li>
                            </ul>
                            <ul class="exp">
                                <div class="circle"></div>
                                <h4>
                                    <span>基于搜狗搜索的WeGouSharp微信公众号爬虫</span>
                                    <a href="https://github.com/hoyho/WeGouSharp" target="_blank">
                                        <i class="icon-link"></i>源代码</a>
                                </h4>
                                <li>
                                    基于搜狗搜索引擎使用C#开发的公众号定向爬虫，站点识别器是可配置的，稍作修改即可轻松改造成其他爬虫，比如知乎爬虫等等
                                </li>
                                <li>使用最新的Dotnet core重构，跨平台Linux，Windows和Mac均可用</li>
                                <li>使用了HtmlAgilityPack根据XPath进行元素定位。NewtonJson解析公众号信息</li>
                                <li>多IP/User Agent自动切换，在线自动打码机制对抗不定时验证码</li>
                                <li>使用基于文件的Cookie以提高程序稳定性</li>
                                <li>此程序现在已运行在AWS进行采集，配合一个个人站点进行SEO</li>
                            </ul>
                            <ul class="exp">
                                <div class="circle"></div>
                                <h4>
                                    <span>Here2say个人博客</span>
                                    <a href="https://here2say.me" target="_blank">
                                        <i class="icon-link"></i>here2say</a>
                                </h4>
                                <li>优雅、内容完善的个人博客，由个人独立开发所有模块。帖子，评论，归档，RSS等等功能，</li>
                                <li>本站点使用Python3开发，基于Django的MVT框架</li>
                                <li>使用highlight.js格式高亮，集成CKeditor，MarkDown输出等，后台使用Bootstrap其他页面使用了同样支持响应式布局的Pure自适应页面，兼容移动设备访问</li>
                                <li>使用Nginx uwsgi + Ubuntu 部署在digital ocean的新加坡节点</li>
                            </ul>
                            <ul class="exp">
                                <div class="circle"></div>
                                <h4>一些练手的小项目/脚本</h4>
                                <li>
                                    <h5>
                                        网易云音乐评论爬虫
                                    </h5>
                                    <p>使用python开发,访问网易云音乐web版使用正则获取歌曲id以及种子url调用JS中的接口获取歌词再解析json.采用多线程+队列+代理池塘，采集数据量大于100万</p>
                                </li>
                                <li>
                                    <h5>
                                        微信公众号功能对接
                                    </h5>
                                    <p>Python实现的微信公众号功能对接。结合微软的认知服务cognitive-services，程序并部署于同博客同一台服务器上（Debian 8）
                                    </p>
                                </li>
                                <li>
                                    <h5>日常辅助工具
                                    </h5>
                                    <p>开发一些个人日常使用的辅助类小工具，shell辅助工具，淘宝监控工具，常用代码库整理等等</p>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <table class="other-info">
                    <dt>
                        <i class="icon-bookmark"></i>其他属性</dt>
                    <tr>
                        <td>
                            <ul class="exp">
                                <li>每日必访问的开发社区：博客园，V2EX,开源中国</li>
                                <li>项目管理和托管：Git,TFS,GitHub/Gitlab</li>
                                <li>熟悉Linux（Debian系）,4年日常使用经验</li>
                                <li>玩过多种VPS/Host，阿里云,AWS，腾讯云，Digital Ocean。掌握日常项目部署，科学上网等技能</li>
                                <li>可脱离字典翻译阅读英文文档，StackOverflow等。英语水平6级词汇量14000左右，日常交流无障碍</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>